<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/04zvtw11y6rdubglz0tpjqgg2zo8tbx77l3si374hogson6d/tinymce/8/tinymce.min.js"referrerpolicy="origin"crossorigin="anonymous"></script>
    <title> Blogapp</title>
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    

        <div class="container mt-3">

            <form action="/admin/blogs/<%= blog.id %>" method="post" enctype="multipart/form-data">

            
                <div class="row">
                    <div class="col-md-12 mt-3">

                        <input type="hidden" name="id" value="<%= blog.id %>">
                        <input type="hidden" name="eskiResim" value="<%= blog.resim %>">
                        
                        <div class="row mb-3">
                            <label for="baslik" class="col-sm-2 col-form-label">Başlık</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="baslik" placeholder="Başlık" name="baslik" value="<%= blog.baslik %>">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="altbaslik" class="col-sm-2 col-form-label">Alt Başlık</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="altbaslik" placeholder="Alt Başlık" name="altbaslik" value="<%= blog.altbaslik %>">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="url" class="col-sm-2 col-form-label">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="url" placeholder="Url" name="url" value="<%= blog.url %>">
                            </div>
                        </div>
                        
                        
                        <div class="row mb-3">
                            <label for="aciklama" class="col-sm-2 col-form-label">Açıklama</label>
                            <div class="col-sm-10">
                                <textarea id="editor" name="aciklama" class="form-control" ><%- blog.aciklama || "" %></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="resim" class="col-sm-2 col-form-label">Resim</label>
                            <div class="col-sm-10">
                                <img src="/images/<%= blog.resim %>" alt="mevcut resim" width="200" class="mb-2"><br>
                                <input type="file" class="form-control" id="resim" placeholder="resim" name="resim" >
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Kategori</label>

                            <div class="col-sm-10">
                                <% categories.forEach(category => { %>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="categories[]"
                                        value="<%= category.id %>"
                                        id="category_<%= category.id %>"
                                        <%= blog.categories.some(c => c.id === category.id) ? 'checked' : '' %>
                                    >
                                    <label
                                        class="form-check-label"
                                        for="category_<%= category.id %>"
                                        >
                                    <%= category.name %>
                                    </label>
                                </div>
                                <% }) %>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="anasayfa" name="anasayfa" <%= blog.anasayfa ? 'checked' : '' %> >
                                    <label class="form-check-label" for="anasayfa">
                                    Anasayfa
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="onay" name="onay" <%= blog.onay ? 'checked' : '' %> >
                                    <label class="form-check-label" for="onay">
                                    Onay
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">

                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>    
                        </div>        
                    </div>
                        
                </div>

            </form>

        </div>

    
        <script>
            tinymce.init({
                selector: '#editor',
                height: 350,
                plugins: [
                'anchor autolink charmap codesample emoticons link lists media table visualblocks wordcount'
                ],
                toolbar: 'undo redo | blocks | bold italic underline | bullist numlist | link media table | removeformat'
            });
        </script>


</body>
</html>



