<!-- pagination -->
<nav>
    <ul class="pagination justify-content-center">

        <!-- Geri -->
        <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="/blog?page=<%= currentPage - 1 %>">
                Geri
            </a>
        </li>

        <!-- Sayfa Numaraları -->
        <% for(let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                <a class="page-link" href="/blog?page=<%= i %>">
                    <%= i %>
                </a>
            </li>
        <% } %>

        <!-- İleri -->
        <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
            <a class="page-link" href="/blog?page=<%= currentPage + 1 %>">
                İleri
            </a>
        </li>

    </ul>
</nav>
